allow odrefresh aac_drc_prop:file { getattr  map  open };
allow odrefresh ab_update_gki_prop:file { getattr  map  open };
allow odrefresh adaptive_haptics_prop:file { getattr  map  open };
allow odrefresh adbd_config_prop:file { getattr  map  open };
allow odrefresh adbd_prop:file { getattr  map  open };
allow odrefresh apexd_config_prop:file { getattr  map  open };
allow odrefresh apexd_payload_metadata_prop:file { getattr  map  open };
allow odrefresh apexd_prop:file { getattr  map  open };
allow odrefresh apk_verity_prop:file { getattr  map  open };
allow odrefresh audio_config_prop:file { getattr  map  open };
allow odrefresh bluetooth_a2dp_offload_prop:file { getattr  map  open };
allow odrefresh bluetooth_audio_hal_prop:file { getattr  map  open };
allow odrefresh bluetooth_prop:file { getattr  map  open };
allow odrefresh bootanim_config_prop:file { getattr  map  open };
allow odrefresh bootloader_boot_reason_prop:file { getattr  map  open };
allow odrefresh boottime_prop:file { getattr  map  open };
allow odrefresh boottime_public_prop:file { getattr  map  open };
allow odrefresh bpf_progs_loaded_prop:file { getattr  map  open };
allow odrefresh build_bootimage_prop:file { getattr  map  open };
allow odrefresh build_config_prop:file { getattr  map  open };
allow odrefresh camera2_extensions_prop:file { getattr  map  open };
allow odrefresh camera_calibration_prop:file { getattr  map  open };
allow odrefresh camerax_extensions_prop:file { getattr  map  open };
allow odrefresh charger_config_prop:file { getattr  map  open };
allow odrefresh charger_prop:file { getattr  map  open };
allow odrefresh charger_status_prop:file { getattr  map  open };
allow odrefresh codec2_config_prop:file { getattr  map  open };
allow odrefresh cold_boot_done_prop:file { getattr  map  open };
allow odrefresh cpu_variant_prop:file { getattr  map  open };
allow odrefresh ctl_adbd_prop:file { getattr  map  open };
allow odrefresh ctl_apexd_prop:file { getattr  map  open };
allow odrefresh ctl_bootanim_prop:file { getattr  map  open };
allow odrefresh ctl_bugreport_prop:file { getattr  map  open };
allow odrefresh ctl_console_prop:file { getattr  map  open };
allow odrefresh ctl_default_prop:file { getattr  map  open };
allow odrefresh ctl_dumpstate_prop:file { getattr  map  open };
allow odrefresh ctl_fuse_prop:file { getattr  map  open };
allow odrefresh ctl_gsid_prop:file { getattr  map  open };
allow odrefresh ctl_interface_restart_prop:file { getattr  map  open };
allow odrefresh ctl_interface_start_prop:file { getattr  map  open };
allow odrefresh ctl_interface_stop_prop:file { getattr  map  open };
allow odrefresh ctl_mdnsd_prop:file { getattr  map  open };
allow odrefresh ctl_mediatranscoding_prop:file { getattr  map  open };
allow odrefresh ctl_odsign_prop:file { getattr  map  open };
allow odrefresh ctl_restart_prop:file { getattr  map  open };
allow odrefresh ctl_rildaemon_prop:file { getattr  map  open };
allow odrefresh ctl_sigstop_prop:file { getattr  map  open };
allow odrefresh ctl_snapuserd_prop:file { getattr  map  open };
allow odrefresh ctl_start_prop:file { getattr  map  open };
allow odrefresh ctl_stop_prop:file { getattr  map  open };
allow odrefresh dck_prop:file { getattr  map  open };
allow odrefresh debugfs_restriction_prop:file { getattr  map  open };
allow odrefresh device_config_activity_manager_native_boot_prop:file { getattr  map  open };
allow odrefresh device_config_boot_count_prop:file { getattr  map  open };
allow odrefresh device_config_configuration_prop:file { getattr  map  open };
allow odrefresh device_config_connectivity_prop:file { getattr  map  open };
allow odrefresh device_config_input_native_boot_prop:file { getattr  map  open };
allow odrefresh device_config_lmkd_native_prop:file { getattr  map  open };
allow odrefresh device_config_media_native_prop:file { getattr  map  open };
allow odrefresh device_config_mglru_native_prop:file { getattr  map  open };
allow odrefresh device_config_netd_native_prop:file { getattr  map  open };
allow odrefresh device_config_nnapi_native_prop:file { getattr  map  open };
allow odrefresh device_config_profcollect_native_boot_prop:file { getattr  map  open };
allow odrefresh device_config_reset_performed_prop:file { getattr  map  open };
allow odrefresh device_config_statsd_native_boot_prop:file { getattr  map  open };
allow odrefresh device_config_statsd_native_prop:file { getattr  map  open };
allow odrefresh device_config_storage_native_boot_prop:file { getattr  map  open };
allow odrefresh device_config_surface_flinger_native_boot_prop:file { getattr  map  open };
allow odrefresh device_config_swcodec_native_prop:file { getattr  map  open };
allow odrefresh device_config_sys_traced_prop:file { getattr  map  open };
allow odrefresh device_config_tethering_prop:file { getattr  map  open };
allow odrefresh device_config_vendor_system_native_boot_prop:file { getattr  map  open };
allow odrefresh device_config_vendor_system_native_prop:file { getattr  map  open };
allow odrefresh device_config_virtualization_framework_native_prop:file { getattr  map  open };
allow odrefresh device_config_window_manager_native_boot_prop:file { getattr  map  open };
allow odrefresh device_logging_prop:file { getattr  map  open };
allow odrefresh dmesgd_start_prop:file { getattr  map  open };
allow odrefresh drm_service_config_prop:file { getattr  map  open };
allow odrefresh dumpstate_options_prop:file { open };
allow odrefresh exported_overlay_prop:file { open };
allow odrefresh fastbootd_protocol_prop:file { open };
allow odrefresh framework_watchdog_config_prop:file { open };
allow odrefresh hal_dumpstate_config_prop:file { getattr };
allow odrefresh hypervisor_prop:file { open };
allow odrefresh init_svc_debug_prop:file { open };
allow odrefresh llkd_prop:file { open };
allow odrefresh logpersistd_logging_prop:file { getattr  open };
allow odrefresh media_variant_prop:file { getattr };
allow odrefresh net_464xlat_fromvendor_prop:file { open };
allow odrefresh netd_stable_secret_prop:file { open };
allow odrefresh oem_unlock_prop:file { getattr };
allow odrefresh persist_vendor_debug_wifi_prop:file { open };
allow odrefresh power_debug_prop:file { open };
allow odrefresh qemu_hw_prop:file { open };
allow odrefresh recovery_config_prop:file { open };
allow odrefresh safemode_prop:file { open };
allow odrefresh smart_idle_maint_enabled_prop:file { open };
allow odrefresh storage_config_prop:file { open };
allow odrefresh system_adbd_prop:file { open };
allow odrefresh system_mtk_aal_prop:file { open };
allow odrefresh system_mtk_amsaal_prop:file { open };
allow odrefresh system_mtk_bgdata_disabled_prop:file { map };
allow odrefresh system_mtk_cdma_prop:file { open };
allow odrefresh system_mtk_ctl_atcid_daemon_u_prop:file { open };
allow odrefresh system_mtk_ctm_prop:file { open };
allow odrefresh system_mtk_debug_mdlogger_prop:file { open };
allow odrefresh system_mtk_duraspeed_drop_caches_prop:file { getattr };
allow odrefresh system_mtk_gwsd_prop:file { open };
allow odrefresh system_mtk_logmuch_prop:file { getattr };
allow odrefresh system_mtk_mobile_log_prop:file { open };
allow odrefresh system_mtk_persist_mdlog_prop:file { getattr };
allow odrefresh system_mtk_pkm_init_prop:file { map };
allow odrefresh system_mtk_selfreg_prop:file { open };
allow odrefresh system_mtk_telecom_vibrate_prop:file { open };
allow odrefresh system_mtk_usb_tethering_prop:file { open };
allow odrefresh system_mtk_wfc_entitlement_prop:file { open };
allow odrefresh system_trace_prop:file { open };
allow odrefresh test_boot_reason_prop:file { open };
allow odrefresh tombstone_config_prop:file { map };
allow odrefresh vehicle_hal_prop:file { getattr  open };
allow odrefresh vendor_fingerprint_prop:file { open };
allow odrefresh vendor_mtk_atci_sys_prop:file { getattr  open };
allow odrefresh vendor_mtk_bt_perf_prop:file { getattr  map  open };
allow odrefresh vendor_mtk_ctl_ccci2_fsd_prop:file { getattr  open };
allow odrefresh vendor_mtk_ctl_ccci_rpcd_prop:file { open };
allow odrefresh vendor_mtk_ctl_viarild_prop:file { open };
allow odrefresh vendor_mtk_debug_sf_cpupolicy_prop:file { open };
allow odrefresh vendor_mtk_device_prop:file { open };
allow odrefresh vendor_mtk_eara_io_prop:file { open };
allow odrefresh vendor_mtk_factory_prop:file { getattr  open };
allow odrefresh vendor_mtk_frs_prop:file { open };
allow odrefresh vendor_mtk_graphics_hwc_hdr_prop:file { open };
allow odrefresh vendor_mtk_graphics_hwc_pid_prop:file { map };
allow odrefresh vendor_mtk_input_report_rate_prop:file { open };
allow odrefresh vendor_mtk_mcf_prop:file { getattr  open };
allow odrefresh vendor_mtk_meta_connecttype_prop:file { getattr  open };
allow odrefresh vendor_mtk_nfc_nfcstackp_enable_prop:file { getattr  open };
allow odrefresh vendor_mtk_nn_option_prop:file { open };
allow odrefresh vendor_mtk_powerhal_prop:file { getattr  map  open };
allow odrefresh vendor_mtk_prefer64_prop:file { open };
allow odrefresh vendor_mtk_rpmb_ready_prop:file { getattr  open };
allow odrefresh vendor_mtk_soc_prop:file { getattr  open };
allow odrefresh vendor_mtk_svp_on_mtee_support_prop:file { open };
allow odrefresh vendor_mtk_thermal_config_prop:file { open };
allow odrefresh vendor_mtk_wfc_serv_prop:file { getattr  map  open };
allow odrefresh vendor_persist_camera_prop:file { getattr  map  open };
allow odrefresh vendor_thermal_prop:file { open };
allow odrefresh vold_post_fs_data_prop:file { open };
allow odrefresh wifi_config_prop:file { open };
allow odrefresh xtra_control_prop:file { getattr };
